extends layout

block tableContent
  section.dealer
    ul
      li
        img.card(src="/images/card_placeholder.png")

  section.rules
    p.hand-text(style="visibility: hidden") Dealer Hand:
    p(style="visibility: hidden") &nbsp
    p.rules-pay BLACKJACK PAYS 3 TO 2
    p.rules Dealer must draw to 16 and stand on 17
    p.hand-text(style="visibility: hidden") Your Hand:
    p.player-total(style="visibility: hidden") &nbsp

  section.actions(style="margin: 0 25%")
    form(action="/game/bet" method="post" style="width: 100%")
      dl
        dt.side-by-side
          label(for="betAmount") Place your bet:
        dd.side-by-side
          select(name="betAmount" id="betAmount")
            option(value="10") $10
            option(value="20") $20
            option(value="50") $50
            option(value="100") $100
            option(value="200") $200
            option(value="500") $500
            option(value="1000") $1,000
            option(value="2000") $2,000
            option(value="5000") $5,000
            option(value="10000") $10,000
          //- input(type="number"
          //-       id="betAmount"
          //-       name="betAmount"
          //-       value="100")
      
      fieldset.center-actions
        input(type="submit" value="BET")

  section.player(style="margin-top: 5px")
    ul
      li
        img.card(src="/images/card_placeholder.png")