doctype html

html(lang="en-US")

  head
    title Twenty One
    meta(charset="UTF-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Spectral")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    script(src="/javascripts/application.js")

    body
      main
        div.table
          block tableContent
      
      section.flash-messages
        - let kinds = Object.keys(flash || {});
        if kinds.length > 0
          ul
            each kind in kinds
              each message in flash[kind]
                li.flash(class=kind)= message
      
      section.bar
        block barContent
          if !signedIn
            form.sign_in_warning(action="/users/signin" method="get")
              fieldset
                p Sign in to track your score.
                button.bar-sign-in(type="submit") Sign In
          else
            form.sign_out_warning(action="/users/signout" method="post")
              fieldset
                p Signed in as #{username}.
                button.bar-sign-in(type="submit") Sign Out
          p Your Purse: $#{purse || 0}
          p Current Bet: $#{bet || 0}

      footer
        block footer