extends layout

block tableContent
  section.dealer
    ul
      li
        img.card(src="/images/card_placeholder.png")

  section.rules
    p.hand-text(style="visibility: hidden") Dealer Hand:
    p(style="visibility: hidden") &nbsp
    p.rules-pay BLACKJACK PAYS 3 TO 2
    p.rules Dealer must draw to 16 and stand on 17
    p.hand-text(style="visibility: hidden") Your Hand:
    p.player-total(style="visibility: hidden") &nbsp

  section.actions
    a.left-actions(href="/game/start") QUIT
    form(action="/game/new" method="post")
      fieldset.right-actions
        button PLAY AGAIN

  section.player
    ul
      li
        img.card(src="/images/card_placeholder.png")

block barContent