extends layout

block tableContent
  section.greeting
    h1 Welcome to
    h1#twenty-one-text TWENTY-ONE!
    img#cl(src="/images/2ne1.jpg")

  section.newgame
    h2 Start a new game:
    form(action="/game/new" method="post")
      fieldset.center-actions
        button New Game
  
  section.leaderboard
    a.center-actions(href="/game/leaderboard") Leaderboard