extends layout

block tableContent
  section.greeting
    h1 Welcome to
    h1 TWENTY-ONE!

  section.newgame
    h2 Start a new game:
    form(action="/game/new" method="post")
      fieldset.center-actions
        button New Game

block barContent